@page "/checkout.html"
@model SonEcommerce.Public.Web.Pages.Cart.CheckoutModel
@using SonEcommerce.Public.Products;
@inject IProductsAppService _productsAppService;
@{
}

<div class="section-box">
    <div class="breadcrumbs-div">
        <div class="container">
            <ul class="breadcrumb">
                <li><a class="font-xs color-gray-1000" href="index.html">Trang Chủ</a></li>
                <li><a class="font-xs color-gray-500" href="shop-grid.html">Cửa Hàng</a></li>
                <li><a class="font-xs color-gray-500" href="shop-cart.html">Thanh Toán</a></li>
            </ul>
        </div>
    </div>
</div>
<section class="section-box shop-template">
    <div class="container">
        @if (Model.CreateStatus != null)
        {
            <div class="row">
                @if (Model.CreateStatus == true)
                {
                    <div class="alert alert-success" role="alert">
                        Tạo Đơn Hàng Thành Công!
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        Tạo Đơn Hàng Thất Bại, Xin hãy kiểm tra lại
                    </div>
                }
            </div>
        }
        @if(User.Identity.IsAuthenticated == false)
        {
            <div class="alert alert-danger" role="alert">
                Đăng Nhập để thanh toán
            </div>
        }
        else
        {
            @if (Model.CreateStatus == null)
            {
                <div class="row">
                    <div class="col-lg-6">

                        <form method="post">
                            <div class="box-border">

                                <div class="row">

                                    <div class="col-lg-12">
                                        <h5 class="font-md-bold color-brand-3 mt-15 mb-20">Địa Chỉ Giao Hàng</h5>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control font-sm" type="text" asp-for="Order.CustomerName" placeholder="Name*" value="@(@Model.CurrentUser.Surname + " " +Model.CurrentUser.Name ?? "Không Biết")" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="tinh">Tỉnh Thành</label>
                                            <select class="form-control" asp-for="Order.UserCity" id="tinh" name="Order.UserCity" title="Chọn Tỉnh Thành">
                                                <option value="0">Tỉnh Thành</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="quan">Quận Huyện</label>
                                            <select class="form-control" asp-for="Order.UserDistrict" id="quan" name="Order.UserDistrict" title="Chọn Quận Huyện">


                                                <option value="0">Quận Huyện</option>


                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="phuong">Phường Xã</label>
                                            <select class="form-control" asp-for="Order.UserWard" id="phuong" name="Order.UserWard" title="Chọn Phường Xã">
                                                <option value="0">Phường Xã</option>



                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control font-sm" type="text" asp-for="Order.CustomerAddress" placeholder="Address 1*" value="@Model.CurrentUser.UserAddress">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control font-sm" type="text" asp-for="Order.CustomerPhoneNumber" placeholder="Phone*" value="@Model.CurrentUser.PhoneNumber">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-lg-6 col-5 mb-20"><a class="btn font-sm-bold color-brand-1 arrow-back-1" href="/shop-cart.html">Quay Lại Giỏ Hàng</a></div>
                                @if (Model.CartItems.Count > 0 )
                                {
                                    <div class="col-lg-6 col-7 mb-20 text-end"><button class="btn btn-buy w-auto arrow-next" type="submit">Thanh Toán</button></div>

                                }
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div class="box-border">
                            <h5 class="font-md-bold mb-20">Your Order</h5>
                            <div class="listCheckout">
                                @foreach (var item in Model.CartItems)
                                {
                                    var url = $"/products/{item.Product.CategorySlug}/{item.Product.Slug}.html";
                                    var fileContent = await _productsAppService.GetThumbnailImageAsync(item.Product.ThumbnailPicture);
                                    var base64Image = SonEcommerce.Helpers.ImageHelper.ShowBase64(item.Product.ThumbnailPicture, fileContent);
                                    <div class="item-wishlist">
                                        <div class="wishlist-product">
                                            <div class="product-wishlist">
                                                <div class="product-image">
                                                    <a href="@url">
                                                        <img src="@base64Image" alt="@item.Product.Name">
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <a href="@url">
                                                        <h6 class="color-brand-3">@item.Product.Name</h6>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="wishlist-status">
                                            <h5 class="color-gray-500">@item.Quantity</h5>
                                        </div>
                                        <div class="wishlist-price">
                                            <h4 class="color-brand-3 font-lg-bold">$@(item.Product.SellPrice * item.Quantity)</h4>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="form-group mb-0">
                                <div class="row mb-10">
                                    <div class="col-lg-6 col-6"><span class="font-md-bold color-brand-3">Tổng Giá Phụ</span></div>
                                    <div class="col-lg-6 col-6 text-end"><span class="font-lg-bold color-brand-3">$@(Model.CartItems.Sum(x => x.Product.SellPrice * x.Quantity))</span></div>
                                </div>
                                <div class="border-bottom mb-10 pb-5">
                                    <div class="row">
                                        <div class="col-lg-6 col-6"><span class="font-md-bold color-brand-3">Phí Giao Hàng</span></div>
                                        <div class="col-lg-6 col-6 text-end"><span class="font-lg-bold color-brand-3">-</span></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-6"><span class="font-md-bold color-brand-3">Tổng Giá</span></div>
                                    <div class="col-lg-6 col-6 text-end"><span class="font-lg-bold color-brand-3">$@(Model.CartItems.Sum(x => x.Product.SellPrice * x.Quantity))</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        
    </div>
</section>

<hr />
<div class="modal fade" id="ModalFiltersForm" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content apply-job-form">
            <div class="modal-header">
                <h5 class="modal-title color-gray-1000 filters-icon">Addvance Fillters</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-30">
                <div class="row">
                    <div class="col-w-1">
                        <h6 class="color-gray-900 mb-0">Brands</h6>
                        <ul class="list-checkbox">
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox" checked="checked"><span class="text-small">Apple</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Samsung</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Baseus</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Remax</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Handtown</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Elecom</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Razer</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Auto Focus</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Nillkin</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Logitech</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">ChromeBook</span><span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-w-1">
                        <h6 class="color-gray-900 mb-0">Special offers</h6>
                        <ul class="list-checkbox">
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">On sale</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox" checked="checked"><span class="text-small">FREE shipping</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Big deals</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Shop Mall</span><span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        <h6 class="color-gray-900 mb-0 mt-40">Ready to ship in</h6>
                        <ul class="list-checkbox">
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">1 business day</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox" checked="checked"><span class="text-small">1&ndash;3 business days</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">in 1 week</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Shipping now</span><span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-w-1">
                        <h6 class="color-gray-900 mb-0">Ordering options</h6>
                        <ul class="list-checkbox">
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Accepts gift cards</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Customizable</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox" checked="checked"><span class="text-small">Can be gift-wrapped</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Installment 0%</span><span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        <h6 class="color-gray-900 mb-0 mt-40">Rating</h6>
                        <ul class="list-checkbox">
                            <li class="mb-5"><a href="#"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><span class="ml-10 font-xs color-gray-500 d-inline-block align-top">(5 stars)</span></a></li>
                            <li class="mb-5"><a href="#"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><span class="ml-10 font-xs color-gray-500 d-inline-block align-top">(4 stars)</span></a></li>
                            <li class="mb-5"><a href="#"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><span class="ml-10 font-xs color-gray-500 d-inline-block align-top">(3 stars)</span></a></li>
                            <li class="mb-5"><a href="#"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><span class="ml-10 font-xs color-gray-500 d-inline-block align-top">(2 stars)</span></a></li>
                            <li class="mb-5"><a href="#"><img src="assets/imgs/template/icons/star.svg" alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><img src="assets/imgs/template/icons/star-gray.svg" alt="Ecom"><span class="ml-10 font-xs color-gray-500 d-inline-block align-top">(1 star)</span></a></li>
                        </ul>
                    </div>
                    <div class="col-w-2">
                        <h6 class="color-gray-900 mb-0">Material</h6>
                        <ul class="list-checkbox">
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Nylon (8)</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Tempered Glass (5)</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox" checked="checked"><span class="text-small">Liquid Silicone Rubber (5)</span><span class="checkmark"></span>
                                </label>
                            </li>
                            <li>
                                <label class="cb-container">
                                    <input type="checkbox"><span class="text-small">Aluminium Alloy (3)</span><span class="checkmark"></span>
                                </label>
                            </li>
                        </ul>
                        <h6 class="color-gray-900 mb-20 mt-40">Product tags</h6>
                        <div><a class="btn btn-border mr-5" href="#">Games</a><a class="btn btn-border mr-5" href="#">Electronics</a><a class="btn btn-border mr-5" href="#">Video</a><a class="btn btn-border mr-5" href="#">Cellphone</a><a class="btn btn-border mr-5" href="#">Indoor</a><a class="btn btn-border mr-5" href="#">VGA Card</a><a class="btn btn-border mr-5" href="#">USB</a><a class="btn btn-border mr-5" href="#">Lightning</a><a class="btn btn-border mr-5" href="#">Camera</a></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start pl-30"><a class="btn btn-buy w-auto" href="#">Apply Fillter</a><a class="btn font-sm-bold color-gray-500" href="#">Reset Fillter</a></div>
        </div>
    </div>
</div>
<script src="https://esgoo.net/scripts/jquery.js"></script>
<script>
    $(document).ready(function () {
        
            var userCity = '@(Model.CurrentUser.UserCity ?? "null")';
            console.log(userCity);
            if (userCity === "null") {
                userCity = null;
            }
            var userDistrict = '@(Model.CurrentUser.UserDistrict ?? "null")';
            if (userDistrict === "null") {
                userDistrict = null;
            }
            var userWard = '@(Model.CurrentUser.UserWard ?? "null")';
            if (userWard === "null") {
                userWard = null;
            }
        
        

        //Lấy tỉnh thành
        $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
            if (data_tinh.error == 0) {
                // Xóa các option hiện tại của select
                $("#tinh").empty();

                // Thêm option mặc định
                $("#tinh").append('<option value="0">Thành Phố</option>');

                // Thêm các tỉnh thành từ API
                $.each(data_tinh.data, function (key_tinh, val_tinh) {
                    if (userCity == val_tinh.id) {
                        $("#tinh").append('<option selected value="' + userCity + '">' + val_tinh.full_name + '</option>');
                    } else {
                        $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                    }
                });

                // Trigger the change event to load the districts
                if (userCity) {
                    $("#tinh").trigger('change');
                }
            } else {
                // Nếu có lỗi trong lấy dữ liệu từ API, bạn có thể xử lý ở đây.
                console.log("Lỗi khi lấy dữ liệu tỉnh thành từ API.");
            }
        });

        // Thiết lập sự kiện thay đổi cho select tỉnh thành
        $("#tinh").change(function (e) {
            var idtinh = $(this).val();
            console.log(idtinh);

            //Lấy quận huyện
            $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                console.log(data_quan);
                if (data_quan.error == 0) {
                    $("#quan").html('<option value="0">Quận Huyện</option>');
                    $("#phuong").html('<option value="0">Phường Xã</option>');
                    $.each(data_quan.data, function (key_quan, val_quan) {
                        if (userDistrict == val_quan.id) {
                            $("#quan").append('<option selected value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                        } else {
                            $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                        }
                    });

                    // Trigger the change event to load the wards
                    if (userDistrict) {
                        $("#quan").trigger('change');
                    }
                }
            });
        });

        // Thiết lập sự kiện thay đổi cho select quận huyện
        $("#quan").change(function (e) {
            var idquan = $(this).val();

            //Lấy phường xã
            $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                if (data_phuong.error == 0) {
                    $("#phuong").html('<option value="0">Phường Xã</option>');
                    $.each(data_phuong.data, function (key_phuong, val_phuong) {
                        if (userWard == val_phuong.id) {
                            $("#phuong").append('<option selected value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                        } else {
                            $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                        }
                    });
                }
            });
        });

        // Initial trigger for district and ward if city is already selected
        if (userCity) {
            $("#tinh").trigger('change');
        }
    });
</script>